.container{
    background-color: #245176;
    width: 970px;
}

.header img{
    display: inline-block;
    width: 350px;
    height: 110px;
    
}
.header p{
    color: white;
    display: inline;
    vertical-align: top;
    margin-left: 400px; 
}
.header a{
    color: yellow;
    vertical-align: top;
    display: inline;
}
.header button{
    position: relative;
    left: 705px;
    bottom: 90px;
}
.header input{
    position: relative;
    left: 704px;
    bottom: 90px;
}
.search{
    background-color: #444444;
}
.NavBar{
    background-color: #437cac;
}
.NavBar ul li{
    display: inline;
    margin-left: 15px;
    background-color: #437cac;
     
}
.NavBar ul li a{
    color: white;
    font-size: 30px;
}
