h1 span a{
    text-decoration: none;
}

.header{
    vertical-align: top;
}
.header img{
    margin-left: 25px;
    width: 150px;
}
.header h1{
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    font-size: 60px;

}
.header h1 span a{
    color: #22659e;
    vertical-align: top;
}
.header h2{
    background-color: #4e80aa;
    color: white;
    width: 1400px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 25px;   
}
.main_content{
    display: inline-block;
    vertical-align: top;
}

#left_corner{
    display: inline-block;
    width: 50%
}
#left_corner h3 span a{
    color: red;
    text-decoration: none;
}
#left_corner p span a{
    color: #22659e;
    text-decoration: none;
}
#left_corner p{
    
    margin-top: 20px;
}

#button1 {
    
    background-color: blue;
    color: white;
    width: 60%;
    height: 40px;
    margin-bottom: 10px;
}
#button2 {
    
    background-color: orangered;
    color: white;
    width: 60%;
    height: 40px;
}
#img1{
    width: 60%;
    height: 500px;
}
#img2{
    position: relative; 
    z-index: 1;
    bottom:130px;
    right: 180px;
    width: 31%;
}
.ninja p{
    position: relative; 
    z-index: 1;
    bottom:500px;   
    color: white;
    font-size: 35px;
    /* margin-left: 50px; */
}
#ninjaButton{
    position: relative; 
    z-index: 1;
    color: white;
    background-color: #6dcede;
    width: 31%;
    height: 40px;
    bottom: 280px;
    margin-left: 50px;
}
#home{
    width: 40px;
    /* margin-right: 50px; */
    
}
.bottomHeader p{
    display: inline-block;
    vertical-align: top;
    color: #316fa3;
    width: 20px;
}
.container{
    display: inline-block;
    vertical-align: top;
}
.side{
    display: inline-block;
    vertical-align: top;
    width: 375px;
}
#phone{
    width: 50px;
    margin-left: 430px;
    margin-right: 15px;
    margin-top: 15px; 
    vertical-align: top;
    
}
#days{
    color: black;
    font-size: 12px;
    vertical-align: top;
    width: 150px;
    line-height: 5px;
    /* padding-bottom: 80px; */
    
}
#phoneNumber{
    color: #00bfdf;
    font-size: 25px;
    vertical-align: top;
    line-height: 10px;
    padding-top: 10px;
    position: relative;
    right: 155px;            
}
#altNumber{
    font-size: 12px;
     width: 200px; 
    position: relative;
    top: 40px;
    right: 175px;
    color: black;
}
h2{
    color: #2869a0;
}
.body p span a{
    color: #1ca2b6;
    text-decoration: none;
}
.body p span{
    font-weight: bold;
}
.body p{
    font-size: 20px;
}
.body{
    width: 900px;
}
.body ul li a{
    color: #36adbf;
    text-decoration: none;
}
.body ul li{
    font-size: 17px;
    padding-top: 10px;
    width: 750px;
}
#clientServer{
    width: 400px;
    margin-left: 220px;
    margin-bottom: 20px;
}
.body ol li a{
    color: #36adbf;
    text-decoration: none;
}
.body ol li{
    padding-top: 10px;
}
.footer{
    display: inline-block;
    border: 10px solid #0085e0;
    width: 810px;
}

#big3{
    width: 200px;
    display: inline-block;
    margin-right: 15px;
}
.footer h2{
    display: inline-block;
    vertical-align: top;
}
.footer p{
    width: 600px;
    position: relative;
    bottom: 140px;
    left: 220px;
}
.footer p a{
    color: #36adbf;
    text-decoration: none;
}